[submodule "1.21.3"]
	path = 1.21.3
	url = git@github.com:CERBON-MODS/Talk-Balloons.git
	branch = version/1.21.3
[submodule "1.21.1"]
	path = 1.21.1
	url = git@github.com:CERBON-MODS/Talk-Balloons.git
	branch = version/1.21.1
[submodule "1.20.6"]
	path = 1.20.6
	url = git@github.com:CERBON-MODS/Talk-Balloons.git
	branch = version/1.20.6
[submodule "1.20.4"]
	path = 1.20.4
	url = git@github.com:CERBON-MODS/Talk-Balloons.git
	branch = version/1.20.4
[submodule "1.20.1"]
	path = 1.20.1
	url = git@github.com:CERBON-MODS/Talk-Balloons.git
	branch = version/1.20.1
